<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required Meta Tags -->
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Application's Favicon -->
	<link rel="shortcut icon" href="../../favicon.svg" sizes="any" type="image/svg+xml">
	<!-- Modern Normalize Library -->
	<link rel="stylesheet" href="../static/lib/modern-normalize/modern-normalize.css">
	<title>Houses for sale</title>
</head>

<body>
	<div id="app">
		<h1>Hello, World!</h1>
	</div>
</body>

</html>